@charset "UTF-8";

@media (min-width: 1200px) {
    main {
        flex-direction: row;
        padding: 24px 48px 24px 24px;
        gap: 48px;
    }

    #content {
        padding: 0px;
    }

    #content h1 {
        font-size: 3rem;
        font-weight: normal;
        line-height: 95%;
    }

    #asset {
        height: 100%;
    }
}